table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

tr {
    border: none;
}

td {
padding: 7px;
}

td:first-child {
    border-right: solid 2px #B685FF;
    padding-right: 20px;
    text-align: right;
}

td:last-child {
    padding-left: 20px;
    text-align: left;
    position: relative;
}

td:last-child::before {
    background-color: #7D4FFE;
    content: " ";
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 100%;
    left: -6.43px;
    top: 50%;
}

.highlight-7D4FFE {
    color: #7D4FFE;
    font-weight: 700;
}