.file-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto;
}

.file-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    text-align: center;
    width: 20%;
    margin: 0 20px;
}

.file-content img {
    max-width: 100%;
    width: 100%;
}

.file-content a {
    background-color: #ECEBFF;
    padding: 15px;
    color: #7D4FFE;
    text-decoration: none;
}


.file-content a:hover {
    background-color: #B685FF;
    color: #DEDFFF;
}

.mobile {
    display: none;
}

@media screen and (max-width: 763px) {
    /* Règles CSS à appliquer lorsque la largeur de l'écran est de 763 pixels ou moins */

    .file-content {
        width: 100%;
    }
    
    .file-content a {
        background-color: unset;
        color: #7D4FFE;
    }
    
    .file-content a:hover {
        background-color: unset;
        color: unset;
    }
    
    .file-content a:active > * {
        color: #B685FF;
        text-decoration: none;
    }

    .mobile {
        display: unset;
    }

    .pc {
        display: none;
    }
}