* {
    scrollbar-color: #7D4FFE #ECEBFF;
    scrollbar-width: thin;
}

html {
    padding: 0;
}

body {
    background-color: #F8F9FF;
    font-family: "Nunito";
    margin: 0 80px;
    color: #3D3D3D;
    font-weight: lighter;
}

a:active {
    color: #B685FF;
}

.content {
    margin: 0 50px 50px;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.underline-ECEBFF {
    text-decoration-color: #ECEBFF;
}

.underline-7D4FFE {
    text-decoration-color: #7D4FFE;
}

.second-background {
    background-color: #ECEBFF;
}

h1, h2, a {
    font-family: "Ubuntu";
}

h1 {
    color: #DEDFFF;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-size: 20px;
    text-align: center;
}

h2 {
    color: #B685FF;
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 15px 40px;
}

li a {
    padding: 0 10px;
    text-decoration: none;
}

nav, .nav, .file-content a  {
    border-radius: 45px;
}

nav ul li a {
    color: #7D4FFE;
    font-weight: 600;
    font-size: 18px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.nav {
    z-index: 1;
    background-color: #B685FF;
    width: 80%;
}

.nav li a {
    color: #DEDFFF;
}

.bottom {
    border-radius: 45px 45px 0 0;
    padding: 40px 0;
    margin-top: 60px;
    bottom: 0;
}

.space-between {
    justify-content: space-between;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1095px) {
    /* Règles CSS à appliquer lorsque la largeur de l'écran est de 1095 pixels ou moins */

    body, .bottom, .nav  {
        margin: 0;
    }
    
    nav, .nav, .bottom {
        border-radius: 0;
    }

    footer, .box {
        position: unset;
    }

    .box {
        width: unset;
        transform: unset;
    }

    .bottom, .nav {
        padding: 15px 40px;
    }

    .mobile {
        display: none;
    }
  }

@media screen and (max-width: 763px) {
    /* Règles CSS à appliquer lorsque la largeur de l'écran est de 763 pixels ou moins */

    nav ul, .nav, .box {
        padding: 0;
    }

    ul {
        flex-direction: column;
        text-align: center;
    }

    li {
        padding: 10px 0;
    }

    header li:nth-child(even) {
        background-color: #F1F1FF;
    }

    .bottom {
        flex-direction: row;
    }

    .mobile {
        display: unset;
    }

    .pc {
        display: none;
    }
}